/* general styles */

*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;

}

/* header styles */

header{
    width: 100vw;
    height: 84px;
    background-color: #61ada0;
    position: fixed;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-img{
    width: 80px;
}

.container-img img{
    width: 100%;
}

.container-itens{
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.itens{
    list-style: none;
}

.itens a{
    text-decoration: none;
    color: #605063;
    padding: 2px 10px;
    border: 1px solid #605063;
    border-radius: 10px;
}

.itens a:hover{
    color: #fff;
    border-color: #fff;
    transition: .3s;
}

.theme-switch{
    background-color: none;
    border: 1px solid #605063;
    border-radius: 30px;
    padding: 1px 5px;
    position: absolute;
    right: 150px;
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.theme-switch label{
    width: 40px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.theme-switch label:hover{
    cursor: pointer;
}

.moon, .sun{
    color: #fff;
}


.switcher{
    background-color: #fff;
    position: absolute;
    left: -2px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.checkbox:checked + .label .switcher{
    transform: translateX(23px);
}

.header-btn{
    background-color: #605063;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 10px 20px;
    right: 20px;
    letter-spacing: .3px;
    text-decoration: none;
}

.header-btn:hover{
    box-shadow: 0px 0px 3px #605063;
}

.menu-toggle{
    display: none;
    font-size: 2em;
    cursor: pointer;
}

.theme-switch-reponsive{
    display: none;
}

/* main styles */

.parallax{
    height: 500px;
    /*effect parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax01{
    padding-top: 84px;
    background-image: url("../images/bg01.jpg");
}

.parallax02{
    background-image: url("../images/bg02.jpg");
    height: 650px;
}

.opacity-parallax{
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#home{
    height: 100vh;
}

.opacity-parallax div h1{
    font-size: 2.5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.opacity-parallax div p{
    margin: 0 auto;
    text-align: center;
    width: 60%;
}

.opacity-parallax div h2{
    border-radius: 10px;
    padding: 5px;
    background-color: #ffffff23;
    color: #61ada0;
    font-size: 2em;
    font-weight: bolder;
}

.btn{
    background-color: #605063;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
    padding: 10px 20px;
    letter-spacing: .5px;
    text-decoration: none;
}

.btn:hover{
    box-shadow: 0px 0px 3px #fff;

}



/* responsive header */
@media (max-width: 480px) {

    .container-itens{
        display: none;
        width: 100vw;
        position: absolute;
        top: 84px;
        background-color: #61ada0;
    }

    .itens, .theme-switch{
        margin: 15px;
    }

    .itens{
        font-size: 14px;
    }

    .theme-switch{
        margin: 0 auto;
        position: absolute;
        bottom: 70px;
    }

    .header-btn{
        display: none;
    }

    .menu-toggle{
        display: block;
        margin: 10px 20px;
    }

}

@media (max-width: 480px){

    .container-itens.active{
        display: flex;
        animation: slide-down .5s forwards;
    }

}

/*animation header*/
@keyframes slide-down {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/*responsive main*/
@media (max-width: 480px){
    .opacity-parallax div h1{
        margin: 0 auto;
        width: 90%;
        font-size: 2em;
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    .opacity-parallax div p{
        margin: 0 auto;
        text-align: center;
        font-size: 20px;
        width: 90%;
    }
    
    .opacity-parallax div h2{
        border-radius: 10px;
        padding: 5px;
        background-color: #ffffff23;
        color: #61ada0;
        font-size: 1.5em;
        font-weight: bolder;
    }
    
    .btn{
        font-size: 1.5em;
        background-color: #605063;
        border: 1px solid #fff;
        color: #fff;
        border-radius: 10px;
        padding: 15px 30px;
        letter-spacing: .5px;
        text-decoration: none;
    }
}

