*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{

    position: fixed;
    width: 100%;
    background-color: #98FF98;
    text-align: center;
    height: 80px;
    z-index: 1;
    overflow-x: hidden;
}

header nav{
    display: inline-block;
    line-height: 80px;
}

header nav .link{
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0 100px;
    text-decoration: none;
    color: #8B4513;
    border: solid 1px #8B4513;
    border-radius: 10px;
    padding: 5px 10px;
}

header nav .link:hover{

    color: #F5F5DC;
    border: solid 1px #F5F5DC;
    transition: .3s;

}

header .container-img{
    width: 70px;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    margin: 0 auto;
}

header .container-img img{
    width: 100%;
}

/* main */

main{
    overflow-x: hidden;
}

#section1{
    width: 100%;
    height: 750px;
}

#section1 .content-section1{

    width: 100%;
    height: 100%;

}

#section1 .content-section1 img{

    width: 100%;
    height: 100%;
    filter: brightness(0.20);

}

#section1 .content-section1 div{

    position: absolute;
    top: 50%;
    left: 30%;

}

#section1 .content-section1 div p{

    color: #fff;
    font-size: 2em;

}

#section1 .content-section1 div p span{

    background-color: rgba(0, 0, 0, 0.23);
    color: #98FF98;
    padding: 10px;
    border-radius: 15px;

}

#section2{

    width: 100%;
    background-color: #98FF98;
    padding-bottom: 20px;

}

.content-section2{

    color: #8B4513;
    font-weight: bold;

}

.content-section2 .first-p{

    font-size: 2em;
    padding: 10px 20px;

}

.content-section2 .second-p{

    background-color: #00000043;
    color: #fff;
    margin: 10px 50px 10px 20px;
    padding: 5px;
    border-radius: 10px;
    font-size: 1.5em;


}


#section3{

    width: 100%;
    background-color: #F5F5DC;
    padding-bottom: 20px;

}

.content-section3{

    margin: 0 auto;
    text-align: center;

}

.content-section3 h2{
    color: #8B4513;
    font-size: 2em;
    padding: 30px;
}

.content-section3 form{
    margin: 0 675px;
}

.content-section3 form div{

    margin-bottom: 20px;
    
}

.content-section3 form div label{
    text-align: left;
    display: block;
    color: #8B4513;
    font-weight: bold;
}

.content-section3 form div input, .content-section3 form div textarea{

    text-align: left;
    border-radius: 10px;
    border: solid 1px #8B4513;
    padding: 5px;
    margin-top: 10px;


}

.content-section3 form div button{

    background-color: #8B4513;
    color: #fff;
    font-weight: bold;
    padding: 10px 60px;
    border-radius: 10px;
    font-size: 1em;
    border: none;

}

.content-section3 form div button:hover{
    
    cursor: pointer;
    box-shadow: 0px 0px 10px #8b45136d;

}

.btn{
    background-color: #8B4513;
    color: #fff;
    font-weight: bold;
    border: solid 1px #8B4513;
    padding: 10px 20px;
    margin: 0 auto;
    font-size: 1.5em;
    border-radius: 10px;
    margin-left: 670px;
}

.btn:hover{

    cursor: pointer;
    box-shadow: 0px 0px 10px #8b45136d;

}



